#login_box {
	width : 500px;
	height : 170px;
	border : 1px solid gray;
	border-radius : 10px;
	text-align : center;
}

#login_btn {
	display : block;
	padding : 20px 0;
	margin: 0 30px;
	background-color : #2DB400;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#login_btn:hover{
	background-color : #249300;
}

#login_help_box{
	margin-top : 20px;
}


#login_help_box a {
	color : gray;
	text-decoration: none;
	padding: 0 10px;
	font-size: 15px;
}


#login_help_box a:not(:first-child) {
	border-left: 1.5px solid #868694;
}

#login_help_box a:hover, #findpw_btn:hover, #regist_btn:hover{
	text-decoration : underline;
}

